src/soap/BookCatalog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- Contrat WSDL du service BookCatalog -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tns="http://demo.api.web/BookCatalog"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://demo.api.web/BookCatalog"
name="BookCatalogService">

  <!-- Types XSD des objets échangés -->
  <types>
    <xsd:schema targetNamespace="http://demo.api.web/BookCatalog">

      <xsd:complexType name="Author">
        <xsd:sequence>
          <xsd:element name="Id"          type="xsd:int"/>
          <xsd:element name="Name"        type="xsd:string"/>
          <xsd:element name="Bio"         type="xsd:string" minOccurs="0"/>
          <xsd:element name="Nationality" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Review">
        <xsd:sequence>
          <xsd:element name="Id"       type="xsd:int"/>
          <xsd:element name="Reviewer" type="xsd:string"/>
          <xsd:element name="Rating"   type="xsd:int"/>
          <xsd:element name="Comment"  type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Liste de reviews -->
      <xsd:complexType name="ArrayOfReview">
        <xsd:sequence>
          <xsd:element name="Review" type="tns:Review" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Book">
        <xsd:sequence>
          <xsd:element name="Id"       type="xsd:int"/>
          <xsd:element name="Title"    type="xsd:string"/>
          <xsd:element name="Year"     type="xsd:int"/>
          <xsd:element name="Genre"    type="xsd:string"/>
          <xsd:element name="AuthorId" type="xsd:int"/>
          <!-- inclus à chaque réponse, pas de sélection possible -->
          <xsd:element name="Author"   type="tns:Author"        minOccurs="0"/>
          <xsd:element name="Reviews"  type="tns:ArrayOfReview" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ArrayOfBook">
        <xsd:sequence>
          <xsd:element name="Book" type="tns:Book" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </types>

  <!-- Messages -->
  <message name="GetBookRequest">    <part name="BookId" type="xsd:int"/></message>
  <message name="GetBookResponse">   <part name="Book"   type="tns:Book"/></message>
  <message name="GetBooksRequest">   <part name="Limit"  type="xsd:int"/><part name="Offset" type="xsd:int"/></message>
  <message name="GetBooksResponse">  <part name="Books"  type="tns:ArrayOfBook"/></message>
  <message name="GetAuthorRequest">  <part name="AuthorId" type="xsd:int"/></message>
  <message name="GetAuthorResponse"> <part name="Author"   type="tns:Author"/></message>
  <message name="GetBookReviewsRequest">  <part name="BookId"  type="xsd:int"/></message>
  <message name="GetBookReviewsResponse"> <part name="Reviews" type="tns:ArrayOfReview"/></message>

  <!-- Interface -->
  <portType name="BookCatalogPortType">
    <operation name="GetBook">        <input message="tns:GetBookRequest"/>        <output message="tns:GetBookResponse"/></operation>
    <operation name="GetBooks">       <input message="tns:GetBooksRequest"/>       <output message="tns:GetBooksResponse"/></operation>
    <operation name="GetAuthor">      <input message="tns:GetAuthorRequest"/>      <output message="tns:GetAuthorResponse"/></operation>
    <operation name="GetBookReviews"> <input message="tns:GetBookReviewsRequest"/> <output message="tns:GetBookReviewsResponse"/></operation>
  </portType>

  <!-- Binding SOAP/HTTP -->
  <binding name="BookCatalogBinding" type="tns:BookCatalogPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetBook">        <soap:operation soapAction="GetBook"/></operation>
    <operation name="GetBooks">       <soap:operation soapAction="GetBooks"/></operation>
    <operation name="GetAuthor">      <soap:operation soapAction="GetAuthor"/></operation>
    <operation name="GetBookReviews"> <soap:operation soapAction="GetBookReviews"/></operation>
  </binding>

  <!-- Endpoint -->
  <service name="BookCatalogService">
    <port name="BookCatalogPort" binding="tns:BookCatalogBinding">
      <soap:address location="http://localhost:3000/soap"/>
    </port>
  </service>

</definitions>
